<form [formGroup]="registerForm" (ngSubmit)='registerMember()'>
    <div class="container">
        <h2>Register</h2>
        <p>Please fill in this form to create an account.</p>
        <div class="flex">
            <div class="row">
                <div class="col-1">
                    <p><b>Name</b></p>
                </div>
                <div class="col-5">
                    <input type="text" placeholder="Enter Name" class="form-control" formControlName="name" id="name">
                    <div class="form-text text-danger" *ngIf="(Name)">
                        *Required
                    </div>
                </div>
                <div class="col-1">
                    <p><b>MailAddress</b></p>
                </div>
                <div class="col-5">
                    <input type="text" placeholder="Enter Mail Adress" name="emailAddress"
                        formControlName="emailAddress" id="emailAddress">
                </div>
            </div>
        </div>
        <div class="flex">
            <div class="row">
                <div class="col-1">
                    <p><b>Date of Birth</b></p>
                </div>
                <div class="col-5">
                    <input type="date" placeholder="Enter Date of Birth" formControlName="dob" id="name">
                </div>
                <div class="col-1">
                    <p><b>Pan No</b></p>
                </div>
                <div class="col-5">
                    <input type="text" placeholder="Enter Pan Number" formControlName="pan" id="name">
                </div>
            </div>
        </div>
        <div class="flex">
            <div class="row">
                <div class="col-1">
                    <p><b>Address</b></p>
                </div>
                <div class="col-5">
                    <input type="text" placeholder="Enter Address" formControlName="address" id="name">
                </div>
                <div class="col-1">
                    <p><b>Country</b></p>
                </div>
                <div class="col-5">
                    <input type="text" placeholder="Enter Country" formControlName="country" id="country">
                </div>
            </div>
        </div>
        <div class="flex">
            <div class="row">
                <div class="col-1">
                    <p><b>State</b></p>
                </div>
                <div class="col-5">
                    <input type="text" placeholder="Enter State" formControlName="state" id="name">
                </div>
                <div class="col-1">
                    <p><b>Contact No</b></p>
                </div>
                <div class="col-5">
                    <input type="text" placeholder="Enter Contact Number" formControlName="contactNo" id="name">
                </div>
            </div>
        </div>
        <div class="flex">
            <div class="row">
                <div class="col-12">
                    <button class="registerbtn" class='btn btn-outline-success'>Register</button>
                </div>
            </div>
        </div>
    </div>
</form>