<form action="action_page.php">
    <div class="container">
        <h2>Register</h2>
        <p>Please fill in this form to create an account.</p>
         <div class="flex">
            <div class="row">
                <div class="col-2">
                    <label for="email" class="CL"><b>Name</b></label>
                </div>
                <div class="col-4">
                    <input type="text" placeholder="Enter Name" name="name" id="name" required class="IC">
                </div>
                <div class="col-2">
                    <label for="email" class="CL"><b>MailAdress</b></label>
                </div>
                <div class="col-4">
                    <input type="text" placeholder="Enter Mail Adress" name="name" id="name" required class="IC">
                </div>
            </div>
            <!-- <div class="row">
                
            </div> -->
         </div>
        <div class="flex">
            <label for="psw"><b>Date of Birth</b></label>
            <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
            <label for="psw"><b>Pan Number</b></label>
            <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
        </div>
        <div class="flex">
            <label for="psw"><b>Address</b></label>
            <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
            <label for="psw"><b>City</b></label>
            <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
        </div>
        <div class="flex">
            <label for="psw"><b>State</b></label>
            <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
            <label for="psw"><b>Contact Number</b></label>
            <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
        </div>
        <div class="flex">
            <label for="psw"><b>Mail Address</b></label>
            <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
            <button type="submit" class="registerbtn">Register</button>
        </div>
    </div>
</form>