* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
  align-items: center;
  background-color: #f2f2f2;
}

/* Full-width input fields */
input[type=text], input[type=date] {
  width: 100%;
  padding: 8px;
  margin: 2px 0 15px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
 
}



/* Add a blue text color to links */

div
{
  text-align: center;
}
form {
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: #04AA6D;
  }
  .flex
{
  display: flex;
}
.row
{
  align-items: center;
  display: flex;
}

.col-1
{
  display: flex;
  align-items: flex-end;
  text-align: end;
  width:149px;
}
.col-5
{
  display: flex;
  align-items: flex-end;
  width:350px;
}

.col-3
{
  display: flex;
  align-items: flex-end;
  width:150px;
}
