<form action="action_page.php">
    <div class="container">
        <h2>Register</h2>
        <p>Please fill in this form to create an account.</p>
        <div class="flex">
            <div class="row">
                <div class="col-1">
                    <p><b>Name</b></p>
                </div>
                <div class="col-5">
                    <input type="text" placeholder="Enter Name" name="name" id="name" required class="IC">
                </div>
                <div class="col-1">
                    <p><b>MailAddress</b></p>
                </div>
                <div class="col-5">
                    <input type="text" placeholder="Enter Mail Adress" name="name" id="name" required class="IC">
                </div>
            </div>
        </div>
        <div class="flex">
            <div class="row">
                <div class="col-1">
                    <p><b>Date of Birth</b></p>
                </div>
                <div class="col-5">
                    <input type="date" placeholder="Enter Date of Birth" name="name" id="name" required class="IC">
                </div>
                <div class="col-1">
                    <p><b>Pan Number</b></p>
                </div>
                <div class="col-5">
                    <input type="text" placeholder="Enter Pan Number" name="name" id="name" required class="IC">
                </div>
            </div>
        </div>
        <div class="flex">
            <div class="row">
                <div class="col-1">
                    <p><b>Address</b></p>
                </div>
                <div class="col-5">
                    <input type="text" placeholder="Enter Address" name="name" id="name" required class="IC">
                </div>
                <div class="col-1">
                    <p><b>City</b></p>
                </div>
                <div class="col-5">
                    <input type="text" placeholder="Enter City" name="name" id="name" required class="IC">
                </div>
            </div>
        </div>
        <div class="flex">
            <div class="row">
                <div class="col-1">
                    <p><b>State</b></p>
                </div>
                <div class="col-5">
                    <input type="text" placeholder="Enter State" name="name" id="name" required class="IC">
                </div>
                <div class="col-1">
                    <p><b>Contact Number</b></p>
                </div>
                <div class="col-5">
                    <input type="text" placeholder="Enter Contact Number" name="name" id="name" required class="IC">
                </div>
            </div>
        </div>
        <div class="flex">
            <div class="RC">
                <button type="submit" class="registerbtn">Register</button>
            </div>
        </div>
    </div>
</form>